// automatically account for font-size
button {
  height: auto !important;
}

// additional spacing between a form item and its validation message
.ant-form-item-explain {
  margin: 0.5em 0;
}

// a common class to maximise a node's height
.max-height {
  height: 100%;
}

// automatically maximise image width
img {
  width: 100%;
}

// an class for banner images, etc.
.image-cover {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  object-fit: cover;
}